form {
font-size: 1.25rem;
}

footer {
font-size: 0.9rem
}

.fade {
animation-name: fade;
animation-iteration-count: 1;
animation-duration: 2s; 
}

.btn-light{
    background-color: #eaedf0;
    border-color: #cfd8dc;
}

.form-check-label {
    font-size: 0.9rem;
}

@keyframes fade{
    0%{
    opacity: 0;
    }
    10%{
    opacity: 1;
    }
    90%{
    opacity: 1;
    }
    100%{
    opacity: 0;
    }
}
