main {
margin: 3% 3% 1.5%;
font-size: 1.25rem;
}

footer {
margin: 0px 3%;
font-size: 0.9rem
}

.fade {
animation-name: fade;
animation-iteration-count: 1;
animation-duration: 4s; 
}

@keyframes fade{
    0%{
    opacity: 0;
    }
    25%{
    opacity: 1;
    }
    75%{
    opacity: 1;
    }
    100%{
    opacity: 0;
    }
}
